---
permalink: iniciativas/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Iniciativas</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--SLIDER-->  
    <div class="w-100" style="background-color: #016be3">
      <div class="container py-5" style="padding-bottom: 0.2rem!important;">
        <div class="row mx-auto" style="justify-content:center;display: block!important;margin: 2rem 0;">
          <div class="img-circular mt-20 mb-20">
            <img  src="/ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-30.png">  
          </div>
          <h1 style="color: #fff!important;text-align: center;">Iniciativas</h1>
        </div>
      </div>
    </div>  
     <!-- event-area-start -->
      <div class="event-area pt-60 pb-130">
          <div class="container">


              <div class="event-bg event-bg-03 pos-rel mb-30">
                  <div class="row">
                      <div class="col-xl-6 col-lg-6">
                            <div class="event-img mb-20 d-flex justify-content-center">
                                <a href="http://www.justicia-abierta.org/" style="width:60%"><img style="height:auto" src="https://d33wubrfki0l68.cloudfront.net/c299bcde260615aaebfcd0d70684268d2d3ad421/93e98/assets/img/lab-gray.png" alt=""></a>
                            </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                          <div class="event-wrapper mb-20 ">
                              <div class="event-text">
                                  <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 11 de Agosto 2021</span>
                                  <h3><a href="http://www.justicia-abierta.org/">Plataforma de justicia Abierta</a></h3>
                              </div>
                              <div class="event-meta">
                                  <span><i class="far fa-user-circle"></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                              </div><br>
                              <div class="cta-content">
                                  <div class="cta-button">
                                      <a class="btn-verde" href="http://www.justicia-abierta.org/">Mas información <i class="far fa-long-arrow-right"></i></a>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>



              <div class="event-bg event-bg-03 pos-rel mb-30">
                  <div class="row">
                      <div class="col-xl-6 col-lg-6">
                             <div class="event-img mb-20 d-flex justify-content-center">
                                <a href="http://www.justicia-abierta.org/" style="width:60%"><img style="height:auto" src="https://d33wubrfki0l68.cloudfront.net/c299bcde260615aaebfcd0d70684268d2d3ad421/93e98/assets/img/lab-gray.png" alt=""></a>
                            </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                          <div class="event-wrapper mb-20 ">
                              <div class="event-text">
                                  <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 18 de Agosto 2021</span>
                                  <h3><a href="http://www.justicia-abierta.org/"> Justiciapedia</a></h3>
                              </div>
                              <div class="event-meta">
                                  <span><i class="far fa-user-circle"></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                              </div><br>
                              <div class="cta-content">
                                  <div class="cta-button">
                                      <a class="btn-verde" href="https://justiciapedia.redciudadana.org/">Mas información <i class="far fa-long-arrow-right"></i></a>
                                  </div>

                              </div>

                          </div>
                      </div>
                  </div>
              </div>


              <div class="event-bg event-bg-03 pos-rel mb-30">
                  <div class="row">
                      <div class="col-xl-6 col-lg-6">
                            <div class="event-img mb-20 d-flex justify-content-center">
                                <a href="http://www.justicia-abierta.org/" style="width:60%"><img style="height:auto" src="https://d33wubrfki0l68.cloudfront.net/c299bcde260615aaebfcd0d70684268d2d3ad421/93e98/assets/img/lab-gray.png" alt=""></a>
                            </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                          <div class="event-wrapper mb-20 ">
                              <div class="event-text">
                                  <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 1 de Septiembre 2021</span>
                                  <h3><a href="http://www.justicia-abierta.org/">Corte de Constitucionalidad en datos</a></h3>
                              </div>
                              <div class="event-meta">
                                  <span><i class="far fa-user-circle"></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                              </div><br>
                              <div class="cta-content">
                                  <div class="cta-button">
                                      <a class="btn-verde" href="https://cc.redciudadana.org/">Mas información <i class="far fa-long-arrow-right"></i></a>
                                  </div>

                              </div>

                          </div>
                      </div>
                  </div>
              </div>


              <div class="event-bg event-bg-03 pos-rel mb-30">
                  <div class="row">
                      <div class="col-xl-6 col-lg-6">
                            <div class="event-img mb-20 d-flex justify-content-center">
                                <a href="http://www.justicia-abierta.org/" style="width:60%"><img style="height:auto" src="https://d33wubrfki0l68.cloudfront.net/c299bcde260615aaebfcd0d70684268d2d3ad421/93e98/assets/img/lab-gray.png" alt=""></a>
                            </div>
                      </div>
                      <div class="col-xl-6 col-lg-6">
                          <div class="event-wrapper mb-20 ">
                              <div class="event-text">
                                  <span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 8 de Septiembre 2021</span>
                                  <h3><a href="http://www.justicia-abierta.org/">Índice de datos abiertos del sector justicia</a></h3>
                              </div>
                              <div class="event-meta">
                                  <span><i class="far fa-user-circle"></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                              </div><br>
                              <div class="cta-content">
                                  <div class="cta-button">
                                      <a class="btn-verde" href=" http://datosabiertos.gt/">Mas información <i class="far fa-long-arrow-right"></i></a>
                                  </div>

                              </div>

                          </div>
                      </div>
                  </div>
              </div>




          </div>
      </div>
      <!-- event-area-end -->

{% endblock %}
