---
permalink: institucion3/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Instituciones</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--CONTENIDO-->
    <div class="bg-white w-100">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mb-2 col-md-6 text-center px-md-4">
                    <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/3.-Juzgados-de-Primera-Instancia.png">
                </div>
                <div class="col-12 mb-2 col-md-6">
                    <h2 class="mb-2">
                        <Strong>Juzgados de Primera Instancia</Strong>
                    </h2>
                    <p class="h5 font-weight-normal text-justify">
                        Los Juzgados de Primera Instancia son tribunales pertenecientes al Organismo Judicial, dichos tribunales tienen como principal objetivo conocer los casos, hechos o procesos judiciales, así como delictivos en primera instancia, es decir, después de los Juzgados de Paz o Juzgados Menores, cuando se han requerido o de mayor importancia.
                    </p>
                    <br>
                    <h4 style="text-align: left;">Más información en Justiciapedia</h4>
                    <br>
                    <a href="https://justiciapedia.redciudadana.org/#/instituciones?sector=justicia" class="btnVerde">Más Info</a>
                </div>     
            </div>
        </div>
    </div>



{% endblock %}