---
permalink: institucion5/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Instituciones</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--CONTENIDO-->
    <div class="bg-white w-100">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mb-2 col-md-6 text-center px-md-4">
                    <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/1.-Corte-Suprema-de-Justicia-(CSJ).png">
                </div>
                <div class="col-12 mb-2 col-md-6">
                    <h2 class="mb-2">
                        <Strong>Consejo de la Carrera Judicial</Strong>
                    </h2>
                    <p class="h5 font-weight-normal text-justify">
                        Órgano rector de la Carrera Judicial en Guatemala, es de carácter permanente y goza de independencia funcional en el desempeño de sus atribuciones respecto Corte Suprema de Justicia y cuenta con el auxilio de las Juntas de Disciplina Judicial, Junta de Disciplina de Apelaciones, Supervisión General de Tribunales, Escuela de Estudios Judiciales, Unidad de Evaluación de Desempeño Profesional y otras unidades administrativas que considere convenientes.
                    </p>
                    <br>
                    <h4 style="text-align: left;">Más información en Justiciapedia</h4>
                    <br>
                    <a href="https://justiciapedia.redciudadana.org/#/instituciones?sector=justicia" class="btnVerde">Más Info</a>>
                </div>     
            </div>
        </div>
    </div>

{% endblock %}