---
permalink: institucion6/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Instituciones</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--CONTENIDO-->
    <div class="bg-white w-100">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mb-2 col-md-6 text-center px-md-4">
                    <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/6.-Corte-de-Constitucionalidad-(CC).png">
                </div>
                <div class="col-12 mb-2 col-md-6">
                    <h2 class="mb-2">
                        <Strong>Corte de Constitucionalidad (CC)</Strong>
                    </h2>
                    <p class="h5 font-weight-normal text-justify">
                        Tribunal permanente encargado de ejercer el control y defensa del orden constitucional. Actúa como órgano independiente de los tres organismos del Estado y ejerce funciones específicas plasmadas en la Constitución Política de la República y la Ley de Amparo, Exhibición Personal y de Constitucionalidad.
                    </p>
                    <br>
                    <h4 style="text-align: left;">Más información en Justiciapedia</h4>
                    <br>
                    <a href="https://justiciapedia.redciudadana.org/#/instituciones?sector=justicia" class="btnVerde">Más Info</a>
                </div>     
            </div>
        </div>
    </div>



{% endblock %}