---
permalink: instituciones/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Instituciones</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
    <main>
    
  <!--SLIDER-->  
  <div class="w-100" style="background-color: #016be3">
    <div class="container py-5" style="padding-bottom: 0.2rem!important;">
      <div class="row mx-auto" style="justify-content:center;display: block!important;margin: 2rem 0;">
        <div class="img-circular mt-20 mb-20">
          <img  src="/ELEMENTOS/ELEMENTOS WEB/03_ICONOS/ICONOS-13.png">  
        </div>
        <h1 style="color: #fff!important;text-align: center;">Instituciones</h1>
      </div>
    </div>
  </div>  

  <div class="w-100" style="background-color: #e9ecf2">
        <div class="container py-5" style="padding-bottom: 0.2rem!important;">
            <div class="row">
                <div class="col-12 d-flex mb-2">
                    <h1 style="font-weight:600">
                    Instituciones
                    </h1>
                </div>    
                    
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/1.-Corte-Suprema-de-Justicia-(CSJ).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Corte Suprema de Justicia</h4>
                            <br>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion1/index.html" class="btnVerde m-auto">MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/2.-Corte-de-Apelaciones-(CA).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Corte de Apelaciones (CA)</h4>
                            <br>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion2/index.html" class="btnVerde  m-auto">MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/3.-Juzgados-de-Primera-Instancia.png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Juzgados de Primera Instancia</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion3/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/4.-Juzgados-de-Paz-o-Menores.png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Juzgados de Paz o Menores</h4>
                            <br>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion4/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>

        <div class="container py-5" style="padding-top: 0.8rem!important;padding-bottom: 5rem!important">
            <div class="row">
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/1.-Corte-Suprema-de-Justicia-(CSJ).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Consejo de la Carrera Judicial</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion5/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/6.-Corte-de-Constitucionalidad-(CC).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Corte de Constitucionalidad (CC)</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion6/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/7.-Ministerio-Publico-(MP).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Ministerio Público (MP)</h4>
                            <br>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion7/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>

                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/8.-Instituto-Nacional-de-Ciencias-Forenses.png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Instituto Nacional de Ciencias Forenses</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion8/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                </div>

            </div>

            <div class="container py-5" style="padding-top: 0.8rem!important;padding-bottom: 5rem!important">
                <div class="row">
                    
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                        <div class="bg-dark w-100 text-center">
                            <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/10.-Procurador-de-los-Derechos-Humanos-(PDH).png" class=" img-fluid" alt="Laboratorio">
                        </div>
                        <div class="w-100 p-3 cuadros2">
                            <h4>Procurador de los Derechos Humanos (PDH)</h4>
                            <p style="text-align: center;">

                            </p><br>
                            <a href="/institucion9/index.html" class="btnVerde m-auto" >MÁS INFO.</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                    <div class="bg-dark w-100 text-center">
                        <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/11.-Contraloria-General-de-Cuentas-(CGC).png" class=" img-fluid" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3 cuadros2">
                        <h4>Contraloria General de Cuentas (CGC)</h4>
                        <p style="text-align: center;">

                        </p><br>
                        <a href="/institucion10/index.html" class="btnVerde m-auto">MÁS INFO.</a>
                    </div>
                    </div>
                </div>
                

                <div class="col-12 col-lg-3 py-1" style="padding-left: 15px!important; padding-right: 15px!important">
                    <div class="bg-white w-100 border cuadros">
                    <div class="bg-dark w-100 text-center">
                        <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/9.-Instituto-de-la-Defensa-Publica-Penal-(IDPP).png" class=" img-fluid" alt="Laboratorio">
                    </div>
                    <div class="w-100 p-3 cuadros2">
                        <h4>Instituto de la Defensa Pública Penal (IDPP)</h4>
                        <p style="text-align: center;">
                        
                        </p><br>
                        <a href="/institucion11/index.html" class="btnVerde m-auto">MÁS INFO.</a>
                    </div>
                    </div>
                </div>

            
            </div>

        </div>

    </div>




  </main>
{% endblock %}