---
permalink: institucion9/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Instituciones</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--CONTENIDO-->
    <div class="bg-white w-100">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mb-2 col-md-6 text-center px-md-4">
                    <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/10.-Procurador-de-los-Derechos-Humanos-(PDH).png">
                </div>
                <div class="col-12 mb-2 col-md-6">
                    <h2 class="mb-2">
                        <Strong>Procurador de los Derechos Humanos (PDH)</Strong>
                    </h2>
                    <p class="h5 font-weight-normal text-justify">
                        El Procurador de los Derechos Humanos es un Comisionado del Congreso de la República que está encargado de defender los Derechos Humanos que la Constitución y los tratados internacionales en materia de Derechos Humanos ratificados por el Estado de Guatemala garantizan.
                    </p>
                    <br>
                    <h4 style="text-align: left;">Más información en Justiciapedia</h4>
                    <br>
                    <a href="https://justiciapedia.redciudadana.org/#/instituciones?sector=justicia" class="btnVerde">Más Info</a>
                </div>     
            </div>
        </div>
    </div>

{% endblock %}