---
permalink: institucion4/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Instituciones</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--CONTENIDO-->
    <div class="bg-white w-100">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mb-2 col-md-6 text-center px-md-4">
                    <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/4.-Juzgados-de-Paz-o-Menores.png">
                </div>
                <div class="col-12 mb-2 col-md-6">
                    <h2 class="mb-2">
                        <Strong>Juzgados de Paz o Menores</Strong>
                    </h2>
                    <p class="h5 font-weight-normal text-justify">
                        Básicamente son los juzgados menores y conocen casos denominados de ínfima cuantía o de bagatela, esto porque el impacto que estos delitos genera a la sociedad es menor que los delitos que están destinados a la competencia de los Juzgados de Primera Instancia.
                    </p>
                    <br>
                    <h4 style="text-align: left;">Más información en Justiciapedia</h4>
                    <br>
                    <a href="https://justiciapedia.redciudadana.org/#/instituciones?sector=justicia" class="btnVerde">Más Info</a>
                </div>     
            </div>
        </div>
    </div>



{% endblock %}