---
permalink: institucion11/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Instituciones</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--CONTENIDO-->
    <div class="bg-white w-100">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mb-2 col-md-6 text-center px-md-4">
                    <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/9.-Instituto-de-la-Defensa-Publica-Penal-(IDPP).png">
                </div>
                <div class="col-12 mb-2 col-md-6">
                    <h2 class="mb-2">
                        <Strong>Instituto de la Defensa Pública Penal (IDPP)</Strong>
                    </h2>
                    <p class="h5 font-weight-normal text-justify">
                        Entidad pública y autónoma que ejerce la función técnica de defensa legal con carácter social para guatemaltecos y guatemaltecas, con el propósito de garantizar el derecho de defensa asegurando la plena aplicación del debido proceso.
                    </p>
                    <br>
                    <h4 style="text-align: left;">Más información en Justiciapedia</h4>
                    <br>
                    <a href="https://justiciapedia.redciudadana.org/#/instituciones?sector=justicia" class="btnVerde">Más Info</a>
                </div>     
            </div>
        </div>
    </div>


{% endblock %}