---
permalink: institucion2/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Instituciones</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--CONTENIDO-->
    <div class="bg-white w-100">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mb-2 col-md-6 text-center px-md-4">
                    <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/2.-Corte-de-Apelaciones-(CA).png">
                </div>
                <div class="col-12 mb-2 col-md-6">
                    <h2 class="mb-2">
                        <Strong>Corte de Apelaciones (CA)</Strong>
                    </h2>
                    <p class="h5 font-weight-normal text-justify">
                        La Corte de Apelaciones es un conjunto determinado de los tribunales colegiados de segunda instancia pertenecientes al Organismo Judicial, cuya jurisdicción se extiende a todo el país, para el ejercicio de sus facultades judiciales dentro de los procesos establecidos por la Constitución Política de la República y demás leyes que los facultan para dicha función, como lo hace la Ley del Organismo Judicial, Dto. 2-89 del Congreso de la República, en su artículo 58.1​ Cada sala o corte de apelación está compuesta por un número determinado de jueces llamados Magistrados, dentro de los cuales uno actúa como su Presidente.
                    </p>
                    <br>
                    <h4 style="text-align: left;">Más información en Justiciapedia</h4>
                    <br>
                    <a href="https://justiciapedia.redciudadana.org/#/instituciones?sector=justicia" class="btnVerde">Más Info</a>
                </div>     
            </div>
        </div>
    </div>



{% endblock %}