---
permalink: institucion10/index.html
---
{% extends "src/base.njk" %}

{% block head %}
<title>Justicia Abierta | Instituciones</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

    <!--CONTENIDO-->
    <div class="bg-white w-100">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mb-2 col-md-6 text-center px-md-4">
                    <img src="https://raw.githubusercontent.com/RedCiudadana/Instituciones-Justiciapedia/gh-pages/11.-Contraloria-General-de-Cuentas-(CGC).png">
                </div>
                <div class="col-12 mb-2 col-md-6">
                    <h2 class="mb-2">
                        <Strong>Contraloria General de Cuentas (CGC)</Strong>
                    </h2>
                    <p class="h5 font-weight-normal text-justify">
                        La Contraloría General de Cuentas en un ente técnico y descentralizado encargado de fiscalizar los ingresos y egresos y todo lo referente al interés hacendario de los organismos del Estado, municipios, entidades descentralizadas y autónomas.
                    </p>
                    <br>
                    <h4 style="text-align: left;">Más información en Justiciapedia</h4>
                    <br>
                    <a href="https://justiciapedia.redciudadana.org/#/instituciones?sector=justicia" class="btnVerde">Más Info</a>
                </div>     
            </div>
        </div>
    </div>

{% endblock %}