---
permalink: "quees/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>¿Qué es Propuestas Justicia Abierta? | Red Ciudadana</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

     <!-- que es Justicia Abierta-->
    <div class="section m-0">
        <div class="container py-6">
            <div class="row mt-40">
                <div class="col-lg-6">

                    <div style="text-align:justify">
                        <h3>¿Qué es Justicia Abierta?</h3>
                        <p style="font-size:18px;line-height:22px">
                            Justicia abierta es una plataforma desarrollada por Red Ciudadana que
                            busca cambiar la forma en que se viven las elecciones en Guatemala 
                            para que esta vez sean los ciudadanos y ciudadanas los que hagan sus
                            propuestas a las candidaturas.
                        </p>
                        <p style="font-size:18px;line-height:22px">
                            En la plataforma cualquier persona, organización, colectivo o grupo de
                            personas pueden generar sus propias propuestas que aborden los
                            temas que más les preocupan o inquietan. Desde Red Ciudadana le 
                            haremos llegar las propuestas que se elaboren a todas las candidaturas
                            presidenciales y legislativas y éstas se podrán comprometer en la
                            misma plataforma a llevarlas a cabo y cumplirlas en caso de resultar
                            electas.
                        </p>
                        <p style="font-size:18px;line-height:22px">
                            Una vez subidas en la página, cualquier persona puede conocer y 
                            apoyar las propuestas a través de un "APOYAR". Además, las organizaciones
                            no gubernamentales que participen de la plataforma pueden
                            patrocinar las propuestas de otras personas u organizaciones.
                        </p>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div style="text-align:center">
                        <h3 style="font-weight:600">aqui video</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}